#board {
    width: min(90vw, 600px);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

div.field {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(min(90vw, 600px) / 16 * 0.8);
}

div.last-move {
    background-color: #a0c4ff;
}

div.legend {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spacer {
    display: flex;
    align-items: center;
    justify-content: center;
}
